* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

html,
body {
    background-color: #000;
    color: #fff;
    font-family: 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.section1 {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/* logo動畫 */

.logo {
    width: 268px;
    height: auto;
}

.pen {
    fill: none;
    stroke: #7a4f9e;
    stroke-width: 24;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 0;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.line-s {
    -webkit-clip-path: url(#s);
    clip-path: url(#s);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw-fei-1 5s linear forwards;
    animation: draw-fei-1 5s linear forwards;
}

.line-y-1 {
    -webkit-clip-path: url(#y-1);
    clip-path: url(#y-1);
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: draw-fei-2 5s linear forwards;
    animation: draw-fei-2 5s linear forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.line-y-2 {
    -webkit-clip-path: url(#y-2);
    clip-path: url(#y-2);
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    -webkit-animation: draw-fei-3 5s linear forwards;
    animation: draw-fei-3 5s linear forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes draw-fei-1 {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-fei-1 {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes draw-fei-2 {
    from {
        stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes draw-fei-2 {
    from {
        stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

@-webkit-keyframes draw-fei-3 {
    from {
        stroke-dashoffset: 3000;
    }
    to {
        stroke-dashoffset: 2000;
    }
}

@keyframes draw-fei-3 {
    from {
        stroke-dashoffset: 3000;
    }
    to {
        stroke-dashoffset: 2000;
    }
}

.section1 h1 {
    color: #868686;
    line-height: 38px;
    font: 150% Consolas, Monaco, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: transparent;
    -webkit-animation: typing 4s 5s steps(16) backwards, caret 1s 4s steps(1) infinite;
    animation: typing 4s 5s steps(16) backwards, caret 1s 4s steps(1) infinite;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 14ch;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 14ch;
    }
}

@-webkit-keyframes caret {
    0% {
        border-right: .05em solid;
    }
    30% {
        border-right-color: transparent;
    }
    50% {
        border-right: .05em solid;
    }
    70% {
        border-right-color: transparent;
    }
    100% {
        border-right: .05em solid;
    }
}

@keyframes caret {
    0% {
        border-right: .05em solid;
    }
    30% {
        border-right-color: transparent;
    }
    50% {
        border-right: .05em solid;
    }
    70% {
        border-right-color: transparent;
    }
    100% {
        border-right: .05em solid;
    }
}

.down {
    width: 40px;
    /* height: 40px; */
    position: fixed;
    line-height: 15px;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: indexIconAnimation 1s infinite;
    animation: indexIconAnimation 1s infinite;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
}

.down img,
.up img {
    width: 30px;
}

.down span,
.up span {
    font-size: 12px;
}

.up {
    width: 40px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 2;
    line-height: 18px;
    cursor: pointer;
    animation: indexIconAnimation 1s infinite;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@-moz-keyframes indexIconAnimation {
    0% {
        opacity: 0;
        bottom: 20px;
    }
    100% {
        bottom: 30px;
    }
}

@-webkit-keyframes indexIconAnimation {
    0% {
        opacity: 1;
        bottom: 20px;
    }
    100% {
        opacity: 1;
        bottom: 30px;
    }
}

@keyframes indexIconAnimation {
    0% {
        opacity: 1;
        bottom: 20px;
    }
    100% {
        opacity: 1;
        bottom: 30px;
    }
}

@-o-keyframes indexIconAnimation {
    0% {
        opacity: 1;
        bottom: 20px;
    }
    100% {
        opacity: 1;
        bottom: 30px;
    }
}


/* logo動畫結束 */

.section2 {
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.resume-section,
.portfolio-section,
.skill-section,
.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-content-flex {
    display: flex;
    justify-content: center;
    width: 90%;
    height: calc(100% - 116px);
}

.about-split {
    width: 1px;
    background-color: #444;
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.about-split span {
    /* position: absolute; */
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    right: -45px;
    background-color: #444;
    top: 15px;
    z-index: 1;
}

.about-content-left {
    padding-top: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}

.about-content-left.animation {
    transform: translateX(0);
    opacity: 1;
}

.about-img {
    width: 200px;
    height: 200px;
    background-color: #444;
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
}

.about-img:after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(5px, 5px);
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 0.5px;
    border-color: #aaa;
    /* border: 1px solid #fff; */
    z-index: -1;
}

.about-img img {
    position: relative;
    top: -28%;
    left: -22%;
    width: 150%;
    transform: rotate(-45deg);
}

.about-name {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    margin-top: 70px;
}

.about-name h1 {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.about-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s;
}

.about-content-right.animation {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: translateX(0);
    opacity: 1;
}

.about-des {
    width: 80%;
    line-height: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-des h2 {
    font-size: 20px;
    font-weight: bolder;
}

.about-des h3 {
    color: #7a4f9e;
    font-size: 18px;
    font-weight: 800;
}

.nav-bar-hide {
    right: -100px;
    transition: all 0.35s ease-in 0s;
    background: rgba(48, 48, 48, .5);
}

.nav-bar span {
    color: rgb(220, 220, 220);
    font-size: 14px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    transition: all 0.35s ease-in-out 0s;
    position: relative;
}

.nav-bar span {
    width: 100%;
    display: block;
    height: 1px;
    border-bottom: 1px solid rgb(112, 112, 112);
    position: relative;
}

.nav-bar ul {
    /* max-width: 1000px; */
    width: 80%;
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 3;
    opacity: 0;
    transition: all .2s;
}

.nav-icon {
    padding: 0 20px;
    font-size: 16px;
    height: 100%;
    padding: 0 20px;
    width: calc(80% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-icon a:after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(102, 45, 145);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.nav-icon img {
    width: 30px;
    height: 30px;
}

.nav-icon a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.nav-icon a.active:after,
.nav-icon a:active {
    width: 80%;
}

.nav-icon a:hover:after {
    width: 80%;
}

.fixed {
    position: fixed;
    top: 0px;
    /* height: 70px; */
    translate: all .5s;
    left: 0;
    z-index: 2;
    opacity: 1;
    /* background-color: rgb(102, 45, 145); */
}

.fadoin {
    top: 100px;
}

.about-section h1,
.resume-section h1,
.skill-section h1,
.portfolio-section h1 {
    text-align: center;
    width: 100%;
    margin: 110px 0 30px 0;
    letter-spacing: 3px;
}

.tab {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
}

.tab li {
    padding: 0 10px;
}

.tab span {
    padding-left: 10px;
}

.portfolio-content {
    margin-bottom: 40px;
    width: 100%;
}

.portfolio-wrapper {
    position: relative;
    height: 590px;
}

.portfolio-Triangle {
    position: relative;
    display: block;
    width: 320px;
    height: 280px;
    background: rgb(59, 59, 59);
    border: 1px solid #222;
    -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0.5;
}

.portfolio-Triangle:hover .portfolio-front {
    background-color: rgba(123, 79, 158, 0.5);
}

.portfolio-Triangle:hover .portfolio-img img {
    transform: scale(1.1);
    transition: all 0.5s;
}

.portfolio-Triangle.pos2:hover .portfolio-img img {
    transform: scale(1.1) rotate(180deg);
    transition: all 0.5s;
}

.portfolio-front {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.portfolio-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    box-sizing: border-box;
}

.portfolio-back {}

.circle-point {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #662d91;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio-front:hover .portfolio-front {
    background-color: #222;
}

.portfolio-front:hover .circle-point {
    opacity: 1;
}

.circle-point span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 3px;
    background-color: #fff;
}

.circle-point span:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: rotate(90deg);
    transform-origin: center;
}

.pos1 {
    top: 0;
    left: calc(50% - 160px);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos2 {
    top: calc(0% - 280px);
    left: calc(50% + 20px);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
    transform: rotate(180deg);
}

.pos2 img {
    width: 170px;
    transform: rotate(180deg);
}

.pos3 {
    top: calc(0% - 560px);
    left: calc(50% - 340px);
    transform: rotate(180deg);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos4 {
    top: calc(0% - 840px);
    left: calc(50% + 200px);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos5 {
    top: calc(0% - 1028px);
    left: calc(50% - 453px);
    transform: scale(.8);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos6 {
    top: calc(0% - 1308px);
    left: calc(50% - 600px);
    transform: rotate(180deg) scale(.8);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos7 {
    top: calc(0% - 1380px);
    left: calc(50% - 160px);
    transform: rotate(180deg);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos8 {
    top: calc(0% - 1655px);
    left: calc(50% + 20px);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos9 {
    top: calc(0% - 1968px);
    left: calc(50% + 165px);
    transform: rotate(180deg) scale(.8);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos10 {
    top: calc(0% - 2250px);
    left: calc(50% + 315px);
    transform: scale(.8);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos11 {
    top: calc(0% - 2466px);
    left: calc(50% - 453px);
    transform: rotate(180deg) scale(.8);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.pos12 {
    top: calc(0% - 2746px);
    left: calc(50% - 305px);
    transform: scale(.8);
    /* background-image: url('/img/original.jpg');
    background-size: cover;
    background-position: center; */
}

.about-content {
    width: 100%;
}

.timeline {
    position: relative;
    width: 80%;
    margin-top: 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #444;
    top: 0;
    bottom: 0;
    left: 50%;
    /* margin-left: -3px; */
}

.container {
    padding: 10px 0px;
    position: relative;
    background-color: inherit;
    width: calc(50% - 40px);
    transition: all 1s;
}

.container.left {
    transform: translateX(-100%);
    opacity: 0;
}

.container.left.animation {
    opacity: 1;
    transform: translateX(0);
}

.container.right {
    margin-left: 40px;
    transform: translateX(100%);
    opacity: 0;
}

.container.right.animation {
    opacity: 1;
    transform: translateX(0);
}

.right .content::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    left: -47px;
    background-color: #444;
    top: 15px;
    z-index: 1;
}

.right .content::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    left: -47px;
    background-color: none;
    top: 15px;
    z-index: 1;
}

.content::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    right: -48px;
    background-color: #444;
    top: 15px;
    z-index: 1;
}

.right {
    right: -50%;
}

.right::after {
    left: -50px;
}

.content {
    padding: 20px 30px;
    background-color: rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 20px rgba(133, 133, 133, 0.6);
    position: relative;
    border-radius: 5px;
    animation: flicker 2s infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
}

@keyframes flicker {
    0% {
        box-shadow: 0px 0px 20px 1px rgba(133, 133, 133, 0.6);
    }
    50% {
        box-shadow: 0px 0px 20px 1px rgba(133, 133, 133, 0.8);
    }
    100% {
        box-shadow: 0px 0px 20px 1px rgba(133, 133, 133, 0.6);
    }
}

.timeline-title {
    position: absolute;
    top: 0;
    padding: 5px 0 5px 0;
    width: 335px;
    background-color: #444444;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .timeline-title {
    right: 0;
}

.right .timeline-title {
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.timeline-content {
    padding: 10px 0 0 0;
}

.timeline-content h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 800;
    padding-bottom: 5px;
}

.timeline-conten h3 span {
    color: rgb(112, 112, 112);
}

.timeline-content {
    padding-top: 35px;
}

.progress-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.progress-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 50px; */
}

.progress-content {
    width: calc((100% - 40px) / 2);
    margin-right: 20px;
}

.progress-content:nth-of-type(2n) {
    margin-right: 0;
}

.progress-title {
    font-size: 14px;
}

.progress {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #444;
    position: relative;
    margin: 10px 0;
    height: 14px;
    display: inline-block;
    vertical-align: top;
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    background-color: rgb(102, 45, 145);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    transition: width 3s ease;
}

.footer {
    height: 50px;
    background-color: rgba(51, 51, 51, 0.5);
    color: #868686;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

@media screen and (max-width: 1024px) {
    .section1 {
        height: calc(var(--vh, 1vh) * 100);
    }
    .about-section,
    .portfolio-section,
    .skill-section {
        height: 100%;
    }
    .progress-content {
        width: 100%;
        margin-right: 0;
    }
    .portfolio-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-Triangle {
        width: calc(100% / 3);
        clip-path: none;
        position: static;
    }
    .pos1,
    .pos2,
    .pos3,
    .pos4,
    .pos5,
    .pos6,
    .pos7,
    .pos8,
    .pos9,
    .pos10,
    .pos11,
    .pos12 {
        top: unset;
        left: unset;
        transform: unset;
        /* border: 1px solid rgb(122, 122, 122); */
    }
    .circle-point {
        top: 50%;
    }
    .portfolio-img {
        padding-top: 0;
    }
    .pos2 img {
        transform: rotate(360deg);
    }
    .portfolio-Triangle.pos2:hover .portfolio-img img {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 760px) {
    .nav-bar ul {
        width: 100%;
    }
    .nav-icon {
        width: calc(100% / 5);
    }
    .about-des {
        width: 100%;
    }
    .portfolio-Triangle {
        width: calc(100% / 2);
    }
    .nav-bar span:after {
        width: 40px;
        height: 40px;
        top: -20px;
    }
    .logo {
        transform: scale(0.7);
    }
    .logo-text {
        font-size: 18px;
    }
    .about-content-flex {
        flex-direction: column;
        height: auto;
        width: 90%;
    }
    .about-split {
        display: none;
    }
    .about-content-right {
        margin-top: 10px;
    }
    .container.right {
        margin-left: 0;
    }
    .timeline {
        width: 100%;
    }
    .progress-wrapper {
        width: 90%;
    }
    .timeline::after {
        left: 15px;
    }
    .container {
        width: calc(100% - 20px);
        padding-left: 40px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .content::after {
        left: -32px;
    }
    .right .content::after {
        left: -32px;
    }
    .right .content::before {
        display: none;
    }
    .left .timeline-title {
        width: 100%;
        left: 0;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0px;
    }
    .right .timeline-title {
        width: 100%;
        left: 0;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }
    .left::after,
    .right::after {
        left: 21px;
    }
    .right {
        left: 0%;
    }
    .about-img {
        margin-top: 30px;
    }
    .nav-icon {
        /* transform: scale(0.8); */
        padding: 0 5px;
        font-size: 14px;
    }
    .footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .portfolio-Triangle {
        width: calc(100% / 2);
    }
}